/*
filename: Mitchell Anton
author: Mitchell Anton
created: 22/08/2021
last modified: 26/08/2021
description: Refers to index.html, jobs.html, apply.html, about.html, enhancements.html
*/

/* Applies colour to all elements except the navigation bar at top of page */

body:not(#main_menu) {
    background-color: #EFEFEF;
}

/* Font for all text */

* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Cursor style when hovering over all buttons and all a tags. */

button, a, .form_action {
    cursor: pointer;
}

h1 {
    font: 40px Arial, Helvetica, sans-serif;
}

/* Set backgroun color of all text (not including some specific text)/ */

p:not(#timer):not(#manager_login form p):not(#user_logged_in):not(.not_highlighted), li, dt, dd, strong {
    background-color: #CAEBF2;
}

#main_menu nav {
    position: absolute;
    left: 22%;
    top: 47%;
}

#main_menu #logo {
    position: absolute;
    left: 2%;
}

#main_menu {
    position: relative;
    background-color: white;
    margin-bottom: 10px;
    height: 120px;
}

body {
    margin-top: 0px;
}

/* Style when you hover over links at top of page and footer. */

nav a:hover {
    border-bottom: 12px #FF3B3F;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-style: solid;
    padding-bottom: 10px;
    transition: border-bottom 0.2s ease-out;
}

/* Apperance of links in nav bar. */

.nav_bar, footer nav a {
    text-decoration: none;
    color: #A9A9A9;
}

/* Apperance of link we are currently on. */

#highlighted {
    text-decoration: none;
    color: #FF3B3F;
}

/* Display background image. Code taken from https://css-tricks.com/perfect-full-page-background-image/ */

#index_page {
    background: url(images/background_graphic.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Enchancement */

#jobs {
    transition: background-color 0.5s linear;
    text-decoration: none;
    font-size: 20px;
    color: #A9A9A9;
    padding: 9.5% 14% 8.5% 14%;
    margin-left: 8.5%;
    display: inline-block;
    /* Prevents overlapping when screen shrinks. */
}

#apply {
    transition: background-color 0.5s linear;
    text-decoration: none;
    font-size: 20px;
    color: #A9A9A9;
    padding: 9.5% 10% 8.5% 10%;
    display: inline-block;
    /* Prevents overlapping when screen shrinks. */
}

#jobs:hover, #apply:hover {
    background-color: rgb(114, 243, 243);
    color: #FF3B3F;
    transition: background-color 1s linear, color 0.5s linear;
}

/********************************* Above refers to index.html and menu bar *********************************/

/* Make definition list inline. */

dt {
    display: block;
    float: left;
    width: 150px;
}

dd {
    width: 500px;
}

dl {
    float: left;
}

#photo_of_me {
    float: right;
    border: 4px #FF3B3F;
    border-style: double;
    margin-top: 30px;
}

#timetable {
    clear: both;
    border: 4px #FF3B3F;
    border-style: solid;
    border-collapse: collapse;
    /* Connect the table borders */
    background: #CAEBF2;
    margin-left: auto;
    /* Centre the table */
    margin-right: auto;
    /* Centre the table */
}

#timetable thead th {
    border-bottom: 2px #FF3B3F solid;
    border-left: 2px #FF3B3F solid;
    border-right: 2px #FF3B3F solid;
}

#timetable tbody th, #timetable tbody td {
    border-right: 2px #FF3B3F solid;
    border-bottom: 2px #FF3B3F solid;
    background-color: #CAEBF2;
    width: 180px;
    height: 30px;
}

/* Make time headers top left of cell. */

#timetable tbody th {
    text-align: left;
    vertical-align: top;
}

#timetable tbody td {
    color: #FF3B3F;
}

/* Border around filled classes */

#timetable .filled {
    background-color: white;
    border: 4px #FF3B3F solid;
}

/* Gets rid of lines in middle of filled classes */

#timetable .filled:not(.top) {
    border-top: none;
}

/* Gets rid of lines in middle of filled classes */

#timetable .filled:not(.bottom) {
    border-bottom: none;
}

#contact_me a {
    text-decoration: none;
    background-color: #CAEBF2;
    color: black;
    transition: font-size 1s linear;
}

#contact_me a:hover {
    font-size: 1.2em;
    transition: font-size 1s linear;
}

/********************************* Above refers to about.html *********************************/

footer {
    background: #CAEBF2;
    font-size: 85%;
}

footer nav, footer p {
    text-align: center;
}

#footer_logo {
    display: block;
    margin: auto;
    width: 10%;
}

/* Change colour of copyright symbol. */

footer p::first-letter {
    color: #FF3B3F;
}

footer p {
    color: #A9A9A9;
}

/********************************* Above refers to footer *********************************/

#first_job, #second_job {
    width: 60%;
    padding-left: 20px;
    padding-right: 10px;
    border: 4px #FF3B3F;
    border-style: inset;
}

#first_job {
    margin-bottom: 5px;
}

aside {
    margin-top: 50px;
    right: 0;
    border: 4px #CAEBF2;
    border-style: dotted;
    width: 25%;
    text-align: center;
    position: fixed;
}

.apply_button {
    text-decoration: underline;
    background-color: #CAEBF2;
    color: #FF3B3F;
}

.apply_button:hover {
    text-decoration: none;
    border-bottom: 6px #FF3B3F;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-style: solid;
    padding-bottom: 5px;
    transition: border-bottom 0.2s ease-out;
}

/********************************* Above refers to jobs.html *********************************/

/* Style input fields for form. */

input, fieldset, select, textarea {
    border-radius: 10px;
    border: 1px solid #FF3B3F;
}

.form_action:hover {
    color: #A9A9A9;
}

.error_message {
    color: red;
}

/********************************* Above refers to apply.html *********************************/

/* The below two statements display the timer inline with the header. */

#form_header {
    display: inline;
}

#timer {
    display: inline;
    float: right;
    font-size: 1.2em;
}

/********************************* Above refers to the timer in apply.html *********************************/

#slideshow_image {
    height: 500px;
    width: 100%;
}

#slideshow {
    position: relative;
    /* Makes position absolute work as intended. */
}

#slideshow_navigator {
    position: absolute;
    top: 90%;
    /*Centre the buttons. Taken from 
    https://stackoverflow.com/questions/1776915/how-can-i-center-an-absolutely-positioned-element-in-a-div */
    left: 50%;
    transform: translate(-50%, 0);
}

#slideshow_navigator button {
    background: none;
    border: 1px solid white;
    border-radius: 50%;
    height: 15px;
}

.slideshow_link {
    position: absolute;
    top: 60%;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 2em;
    /* Centre the links. Taken from 
    https://stackoverflow.com/questions/1776915/how-can-i-center-an-absolutely-positioned-element-in-a-div */
    left: 50%;
    transform: translate(-50%, 0);
}

.slideshow_link:hover {
    border: 1px solid white;
    border-radius: 10px;
    transition: border 0.2s ease-out;
}

/********************************* Above refers to slideshow in index.html *********************************/

.manager_request:not(:nth-child(1)) {
    margin-top: 15px;
}

/* Taken from https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l */
#manager_request_table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#manager_request_table thead {
    background-color: #FF3B3F;
}

#manager_request_table thead tr {
    text-align: left;
    color: white;
}

#manager_request_table tbody tr {
    text-align: left;
}

#manager_request_table th, #manager_request_table td {
    padding: 6px 8px;
}

#manager_request_table tbody tr:nth-of-type(even) {
    background-color: #A9A9A9;
}

#manager_request_table tbody tr:nth-of-type(even) {
    color: #FF3B3F;
    font-weight: bold;
}

#manager_login {
    width: 50%;
    height: 50vh;
    background-color: #CAEBF2;
    /* Centre the section. Taken from https://www.codegrepper.com/code-examples/css/html+how+to+make+a+square+in+the+middle+of+page */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#manager_login h1 {
    /* Centre the login header */
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: #FF3B3F;

    /* Make width same length as text. */
    width: fit-content;
}

#manager_login form {
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#manager_login .form_action {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50px;
}

#logout_button {
    position: absolute;
    top: 6px;
    right: 10%;
    text-decoration: none;
    color: white;
}

#user_logged_in {
    position: absolute;
    top: 6px;
    left: 10%;
    color: white;
    margin: 0px;
}

.manager_request {
    clear: both;
}

#login_header {
    position: relative;
    height: 30px;
    background-color: #FF3B3F;
}